@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Anton&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Press+Start+2P&family=Sixtyfour+Convergence&family=Suez+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kaushan+Script&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Suez+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Playwrite+AU+QLD:wght@100..400&family=Press+Start+2P&family=Roboto+Slab:wght@100..900&family=Sixtyfour+Convergence&family=Suez+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}


:root {
    --letra: 'Lilita One', Arial, Helvetica, sans-serif;
    --fundo: rgb(29, 29, 29);
    --cor1: rgb(235, 235, 235);
    --cor2: rgb(123, 22, 182);
    --cor3: rgb(41, 1, 68);
}

html {
    font-size: 1.2vw;
}

body {
    color: white;
    background-color: var(--fundo);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2.8rem;
    font-family: 'Arimo';
}

h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-family: 'Arimo';
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    transition: .5s;
}a:hover {
        transform: scale(1.05);
}section {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 3rem;
}div {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

/* --- inicio ----- */
#inicio {
    display: grid;
    grid-template-columns: 67.5% 27.5%;
    gap: 5%;
    align-items: center;
}.icones {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}.base {
    width: 100%;
    padding: 2rem;
    font-size: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0.2rem 0.2rem 0.3rem var(--cor2);
    color: var(--cor1);
}.ico {
    position: absolute;
    color: var(--cor1);
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--cor2);
    background-color: var(--cor3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    animation: sca 1.5s linear infinite alternate;
}.i1 {
    top: 2rem;
    left: 0rem;
}.i2 {
    top: 3rem;
    right: 0rem;
}.i3 {
    left: 3rem;
    bottom: 0rem;
}@keyframes sca {
    to {
        transform: scale(1.1);
    }
}
.texto-inicio {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    h1 {
        font-size: 4rem;
        font-family: var(--letra);
        letter-spacing: 0.4rem;
        color: var(--cor2);
        text-transform: uppercase;
    }
    div {
        display: flex;
        align-items: center;
        gap: 2rem;
        a {
            padding: 0.8rem 2rem;
            border-radius: 0.5rem;
            color: var(--cor2);
        }
    }
}

/* ----- destaques ----- */
#destaques {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding-top: 8rem;
    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        background: linear-gradient(to bottom, var(--cor2), var(--cor3));
        padding: 2rem;
        border-radius: 1rem;
        padding-top: 3rem;
        gap: 1.5rem;
        color: white;
        text-align: center;
        i {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--cor1);
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--cor2);
            font-size: 1.8rem;
            border: 0.5rem solid var(--cor2);
        }
    }
    .dest2 {
        transform: scale(1.1);
        i {
            background-color: var(--cor2);
            border: 0.5rem solid var(--cor1);
            color: var(--cor1);
        }
    }
}


.titulo {
    text-align: center;
    color: var(--cor2);
    padding-bottom: 0;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 4rem;
    font-family: var(--letra), Arial, Helvetica, sans-serif;
    letter-spacing: 0.2rem;
}


/* ---- Template em destaque---- */
.template {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    padding-top: 2rem;
}.temp {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    background: linear-gradient(to bottom, var(--cor2), var(--cor3));
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    position: relative;
    color: white;
    iframe {
        width: 100%;
        height: 27.5rem;
        border-radius: 1rem;
        border: 0.2rem solid var(--cor1);
    }
}



/*-- Quiz --*/
#quiz {
    position: relative;
    padding: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    border-radius: 1rem;
    border: 0.2rem solid var(--cor2);
    padding-top: 5rem;
    margin-top: 3rem;
    .tquiz {
            font-family: var(--letra);
            color: var(--cor2);
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            font-size: 1.8rem;
            position: absolute;
            width: 75%;
            background-color: var(--fundo);
            text-align: center;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
    }
} 

/* -- Pergunta inicial */
#iniquiz {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    p {
        padding: 0rem 2rem;
        text-align: center;
    }
    .bot-come {
        width: 40%;
        border: 0.2rem solid var(--cor2);
        border-radius: 0.5rem;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        padding: 1rem;
        margin: 0.5rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        cursor: pointer;
    }
}


/* -- Perguntas -- */
#pergunta1, #pergunta2, #pergunta3 {
    display: none;
}.pergunta {
    display: grid;
    text-align: center;
    gap: 1rem;
    padding: 0rem;
}.resposta3 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    div {
        width: 100%;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border: 0.2rem solid var(--cor2);
        cursor: pointer;
        h3 {
            font-size: 1.4rem;
        }
    }
}.resposta2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    div {
        width: 100%;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border: 0.2rem solid var(--cor2);
        cursor: pointer;
        h3 {
            font-size: 1.4rem;
        }
    }
}

/* -- Resultado -- */
#resultado {
    display: none;
    grid-template-columns: 32.5% 62.5%;
    gap: 5%;
}
#p-escolhida {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, var(--cor2), var(--cor3));
    width: 100%;
    height: 25rem;
    padding: 1rem;
    border-radius: 1rem;
    iframe {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
    }
}
.setor2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    p {
        text-align: center;
    }
}#nome-temp {
    font-family: var(--letra);
    color: var(--cor2);
    font-size: 3rem;
    letter-spacing: 0.3rem;
    text-align: center;
}
.base-escolha {
    font-family: var(--letra);
    font-size: 2rem;
}.op {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        border: 0.2rem solid var(--cor2);
        font-weight: bold;
        font-size: 1.4rem;
        padding: 0.5rem;
        text-align: center;
        cursor: pointer;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 1.4rem;
        text-align: center;
        cursor: pointer;
        color: white;
        text-transform: none;
        div {
            width: 100%;
            height: 100%;
        }
    }
}.op-prim {
    background-color: var(--cor2);
}.chamaver {
    transition: 0.2s;
}.chamaver:hover {
    transform: scale(1.05);
}

/* -- Outras versões -- */
#versoes {
    display: none;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    margin-top: 2rem;
    .ver {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
        padding: 1rem;
        background: linear-gradient(to bottom, var(--cor2), var(--cor3));
        border-radius: 1rem;
        iframe {
            width: 100%;
            height: 25rem;
            border-radius: 0.5rem;
        }
        div {
            width: 100%;
            padding: 1.5rem;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0.2rem solid var(--cor2);
            background-color: var(--fundo);
            font-weight: bold;
            font-size: 1.2rem;
            text-align: center;
            cursor: pointer;
            color: white;
        }
    }
}

/* -- Seção de fuga pro zap -- */
#escape {
    text-align: center;
    display: none;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    a {
        padding: 1rem;
        width: 60%;
        border: 0.2rem solid var(--cor2);
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: white;
    }
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    background-color: var(--cor2);
    color: white;
    margin-top: 4rem;
}






/* -- Responsividade para dispositivos moveis -- */
@media (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 1.8vw;
    }
    a:hover {
        transform: scale(1.0);
    }
section {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
}p {
    font-size: 1.6rem;
}h3 {
    font-size: 1.8rem;
}

/* --- inicio ----- */
#inicio {
    grid-template-columns: 62.5% 32.5%;
    gap: 5%;
    padding-top: 4rem;
}.base {
    font-size: 16rem;
}.i1 {
    top: 2rem;
    left: -1rem;
}.i2 {
    top: 5rem;
    right: 0rem;
}.i3 {
    left: 3rem;
    bottom: 0rem;
}@keyframes sca {
    to {
        transform: scale(1.1);
    }
}

/* ----- destaques ----- */
#destaques {
    grid-template-columns: auto;
    row-gap: 4rem;
    .dest2 {
        transform: scale(1.0);
    }
}.cta {
    margin-top: 2rem;
}

.titulo {
    padding-left: 3rem;
    padding-right: 3rem;
}
/* ---- Template em destaque---- */
.template {
    gap: 1rem;
}.temp {
    padding: 0.5rem;
    iframe {
        height: 25rem;
    }
}



/*-- Quiz --*/
#quiz {
    padding: 2rem;
    padding-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    gap: 2rem;
    .tquiz {
            width: 80%;
    }
} 


/* -- Perguntas -- */
.resposta3 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
}.resposta2 {
    gap: 0.5rem;
}

/* -- Resultado -- */
#resultado {
    grid-template-columns: repeat(2,1fr);
    gap: 0.5rem;
}
#p-escolhida {
    width: 100%;
    padding: 0.5rem;
    flex: 1;
    height: auto;
    iframe {
        width: 100%;
        height: 100%;
    }
}
.op {
    grid-template-columns: auto;
    gap: 0.5rem;
    div {
        padding: 1rem;
    }
}

/* -- Outras versões -- */
#versoes {
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
    .ver {
        iframe {
            height: 20rem;
        }
        div {
            padding: 0.5rem;
        }
    }
}

/* -- Seção de fuga pro zap -- */
#escape {
    a {
        font-size: 1.2rem;
    }
}


}



@media (max-width: 767px) {
    html {
        font-size: 2.8vw;
    }
    a:hover {
        transform: scale(1.0);
    }
section {
    padding-left: 3rem;
    padding-right: 3rem;
}
/* --- inicio ----- */
#inicio {
    grid-template-columns: auto;
    gap: 3rem;
}.icones {
    width: 70%;
    margin: 0 auto;
}.ico {
    width: 5.5rem;
    height: 5.5rem;
    font-size: 2.75rem;
}
.texto-inicio {
    gap: 1rem;
}

/* ----- destaques ----- */
#destaques {
    grid-template-columns: auto;
    padding-top: 7rem;
    row-gap: 4rem;
    .dest2 {
        transform: scale(1.0);
    }
}

.titulo {
    padding-bottom: 0;
    padding-left: 3rem;
    padding-right: 3rem;
}.cta {
     margin-top: 2rem;
}

#passos {
    padding-top: 3rem;
    grid-template-columns: auto;
}#planos {
    grid-template-columns: auto;
    row-gap: 3rem;
}

/* ---- Template em destaque---- */
.template {
    grid-template-columns: auto;
}.temp {
    iframe {
        height: 40rem;
    }
    h3 {
        font-size: 2rem;
    }
}



/*-- Quiz --*/
#quiz {
    padding: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 5rem;
    margin-top: 3rem;
    .tquiz {
            font-size: 1.6rem;
            width: 90%;
    }
} 

/* -- Pergunta inicial */
#iniquiz {
    p {
        padding: 0rem;
    }
    .bot-come {
        width: 60%;
    }
}


/* -- Perguntas -- */
.pergunta {
    display: grid;
    padding: 0rem;
}.resposta3 {
    grid-template-columns: auto;
}.resposta2 {
    grid-template-columns: auto;
}

/* -- Resultado -- */
#resultado {
    display: none;
    grid-template-columns: auto;
    gap: 2rem;
}
#p-escolhida {
    width: 100%;
    height: 37.5rem;
    padding: 1rem;
    iframe {
        width: 100%;
        height: 100%;
    }
}.op {
    grid-template-columns: auto;
    gap: 1rem;
    div {
        padding: 1rem;
    }
}

/* -- Outras versões -- */
#versoes {
    grid-template-columns: auto;
    .ver {
        iframe {
            height: 32.5rem;
        }
        a {
            width: 100%;
        }
        div {
            width: 100%;
        }
    }
}.chamaver:hover {
    transform: scale(1.0);
}

/* -- Seção de fuga pro zap -- */
#escape {
    p {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    a {
        width: 80%;
    }
}

} 
